@page "/dijkstra"
@using System.IO
@using VisualGraph.Data
@using Blazored.Toast;
@using Node = VisualGraph.Data.Additional.Models.Node
@inject IGraphService GraphService
@inject IJSRuntime JsRuntime
@inject IToastService toastService
    <div class="flex-wrapper">
        <div class="flex-wrapper-title">
            <h3>Run Dijkstra Algorithm</h3>
            <EditForm class="form-inline" Model="@model" OnSubmit="@HandleSelectChange">
                <div class="form-group">
                    <InputSelect name="graphselect" id="graphselect" class="form-control" @bind-Value="@model.CurrentGraphPath">
                        @foreach (var name in graphFilenames)
                        {
                            <option value="@name">@name</option>
                        }
                    </InputSelect>
                    <button type="submit" class="btn btn-primary">Load</button>
                </div>
                @if (basicGraph != null)
                {
                    <div class="form-group">
                        <button class="btn btn-secondary" type="button" @onclick="@Crop">Crop View to Graph</button>
                        <button class="btn btn-secondary" type="button" @onclick="@LayoutGraph">Run Layouting</button>
                    </div>
                    <div class="form-group ml-1">
                        <button class="btn btn-secondary" type="button" @onclick="@(() => RunDikstra())">Singlestep Dikstra</button>
                        <button class="btn btn-secondary" type="button" @onclick="@(() => RunDikstra(true))">Autorun Dikstra</button>
                    </div>
                    <div class="form-group ml-1">
                        <button type="button" @onclick="@DijkstraCheapestRoute" class="btn btn-secondary">Get the cheapest route</button>
                    </div>
                }
            </EditForm>

        </div>
        <hr />
        <div class="left-container">

            @RenderGraph()
            <div id="legend">
                <span class="col"><a class="startnode legend-node"></a> Startnode</span>
                <span class="col"><a class="endnode legend-node"></a> Endnode</span>
                <span class="col"><a class="active legend-node"></a> active node</span>
                <span class="col"><a class="legend-edge"></a> edge</span>
                <span class="col"><a class="pathedge legend-edge"></a> cheapest path edge</span>
            </div>
        </div>
        <div class="right-container">
        @if (DijkstraAlgorithmRunner?.Results != null)
        {
            <div class="card pb-5">
                <div class="card-body">

                    <VisualGraph.Components.DijkstraResultTable Results="@DijkstraAlgorithmRunner.Results" />
                    <div>
                        @if (ShortestRouteToEndnode != null)
                        {
                            <h5>The Shortest Route from @(DijkstraAlgorithmRunner.StartNode.Name ?? DijkstraAlgorithmRunner.StartNode.Id.ToString()) to @(DijkstraAlgorithmRunner.EndNode.Name ?? DijkstraAlgorithmRunner.EndNode.Id.ToString()) </h5>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Node</th>
                                        @for (int i = 0; i < ShortestRouteToEndnode.Count; i++)
                                        {
                                            <th>@(i+1)</th>
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>ID</th>
                                        @foreach (var node in ShortestRouteToEndnode)
                                        {
                                            <td>@node.Id</td>
                                        }
                                    </tr>
                                    <tr>
                                        <th>Name</th>
                                        @foreach (var node in ShortestRouteToEndnode)
                                        {
                                            <td>@node.Name</td>
                                        }
                                    </tr>
                                    <tr>
                                        <th>Total cost:</th>
                                        <td>@PathCost.ToString(CultureInfo.CurrentCulture)</td>
                                    </tr>
                                </tbody>
                            </table>
                        }
                    </div>
                    
                </div>
            </div>
        }
        </div>
    </div>

@code {
    public class SelectGraphModel
    {
        public string CurrentGraphPath { get; set; }
        public VisualGraph.Data.Additional.Models.BasicGraphModel Graph { get; set; }
    }
    DijkstraAlgorithm DijkstraAlgorithmRunner;
    List<Node> ShortestRouteToEndnode;
    double PathCost = 0;
    string vgpathclass = " vgpath";
    string endnodeclass = "endnode";
    string startnodeclass = "startnode";
    SelectGraphModel model = new SelectGraphModel();
    public string[] graphFilenames { get; set; }
    private string[] graphPathes { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var graphFilePathes = graphPathes = await GraphService.GetGraphFilenames();
        graphFilenames = graphFilePathes.Select(x => new FileInfo(x).Name).OrderBy(x => Path.GetFileNameWithoutExtension(x)).ToArray();
        model.CurrentGraphPath = graphFilenames[0];
        base.OnInitialized();
    }

    public async void HandleSelectChange()
    {
        var graphmodel = await GraphService.GetGraph(model.CurrentGraphPath);
        model.Graph = graphmodel;
        DijkstraAlgorithmRunner = null;
        ShortestRouteToEndnode = null;
        StateHasChanged();
    }
    private void LayoutGraph()
    {
        var resultGraph = GraphService.LayoutGraph(model.Graph);
    }
    private void Crop()
    {

        GraphService.Fit();
        GraphService.Center();
    }

    private void RunDikstra(bool autostep = false)
    {
        if (this.DijkstraAlgorithmRunner == null)
        {
            var startNodeId = model.Graph.Nodes.FirstOrDefault(x => x.Classes.Contains(startnodeclass))?.Id ?? -1;
            if (startNodeId != -1)
            {

                DijkstraAlgorithmRunner = new DijkstraAlgorithm(model.Graph, startNodeId);
            }
            else
            {
                DijkstraAlgorithmRunner = new DijkstraAlgorithm(model.Graph);
            }
        }
        if (DijkstraAlgorithmRunner.RemainingSteps > 0)
        {
            DijkstraAlgorithmRunner.Iterate(autostep);
        }
        else
        {
            DijkstraAlgorithmRunner = null;
            RunDikstra(autostep);
        }
    }

    private void DijkstraCheapestRoute()
    {
        PathCost = 0;
        var startnodeId = model.Graph.Nodes.FirstOrDefault(x => x.Classes.Contains("startnode"))?.Id??-1;
        var endnodeId = model.Graph.Nodes.FirstOrDefault(x => x.Classes.Contains("endnode"))?.Id??-1;
        if (startnodeId == -1 || endnodeId == -1)
        {
            toastService.ShowError("Select a start and end node, first");
            return;
        }
        if (ShortestRouteToEndnode != null)
            clearRouteClasses();
        if (DijkstraAlgorithmRunner == null)
            DijkstraAlgorithmRunner = new DijkstraAlgorithm(model.Graph, startnodeId);

        ShortestRouteToEndnode = DijkstraAlgorithmRunner.GetShortestRoute(startnodeId, endnodeId);
        visualizeRoute();
        StateHasChanged();
    }
    private void visualizeRoute()
    {
        for (int nodeindex = 0; nodeindex < ShortestRouteToEndnode.Count; nodeindex++)
        {
            var node = ShortestRouteToEndnode[nodeindex];

            if (!node.Classes.Contains(vgpathclass))
                node.Classes.Add(vgpathclass);

            if (nodeindex < ShortestRouteToEndnode.Count - 1)
            {
                var node1 = ShortestRouteToEndnode[nodeindex + 1];
                if (!node1.Classes.Contains(vgpathclass))
                    node1.Classes.Add(vgpathclass);
                var edge = node.Edges.FirstOrDefault(x => (x.EndNode == node1 && x.StartNode == node) || (x.EndNode == node && x.StartNode == node1));
                if (edge != null)
                {
                    if (!edge.Classes.Contains(vgpathclass))
                        edge.Classes.Add(vgpathclass);
                    PathCost += edge.Weight;
                }
            }
        }
    }
    private void clearRouteClasses()
    {
        if (ShortestRouteToEndnode != null)
        {
            for (int nodeindex = 0; nodeindex < ShortestRouteToEndnode.Count; nodeindex++)
            {
                var node = ShortestRouteToEndnode[nodeindex];

                if (node.Classes.Contains(vgpathclass))
                    node.Classes.Remove(vgpathclass);

                if (nodeindex < ShortestRouteToEndnode.Count - 1)
                {
                    var node1 = ShortestRouteToEndnode[nodeindex + 1];
                    if (node1.Classes.Contains(vgpathclass))
                        node1.Classes.Remove(vgpathclass);
                    var edge = node.Edges.FirstOrDefault(x => (x.EndNode == node1 && x.StartNode == node) || (x.EndNode == node && x.StartNode == node1));
                    if (edge != null)
                    {
                        if (edge.Classes.Contains(vgpathclass))
                            edge.Classes.Remove(vgpathclass);
                    }
                }
            }
        }
    }
    private void resetDijkstra()
    {
        DijkstraAlgorithmRunner = null;
        ShortestRouteToEndnode = null;
    }
    BasicGraph basicGraph;
    RenderFragment RenderGraph()
    {
        return new RenderFragment(builder =>
        {
            if (model.Graph != null)
            {
                builder.OpenComponent<BasicGraph>(0);
                builder.AddAttribute(1, "GraphModel", model.Graph);
                builder.AddComponentReferenceCapture(2,
                    inst =>
                    {

                        var basicGraph1 = (BasicGraph)inst;
                        basicGraph = basicGraph1;
                        basicGraph.NodeMouseDown += (sender, args) =>
                        {
                            if (args.MouseEventArgs.Buttons == 2)
                            {
                                var currentStartNode = model.Graph.Nodes.FirstOrDefault(x => x.Classes.Contains(startnodeclass));
                                var currentEndnode = model.Graph.Nodes.FirstOrDefault(x => x.Classes.Contains(endnodeclass));
                                if (currentStartNode == null)
                                {
                                    args.Target.Classes.Add(startnodeclass);
                                }
                                else if (currentStartNode != null && currentStartNode == args.Target)
                                {
                                    args.Target.Classes.Remove(startnodeclass);
                                }
                                /*else if (currentStartNode != null)
                                {
                                    currentStartNode.Classes.Remove(startnodeclass);
                                    args.Target.Classes.Add(startnodeclass);
                                }*/
                                else if (currentEndnode == null)
                                {
                                    args.Target.Classes.Add(endnodeclass);
                                }
                                else if (currentEndnode != null && currentEndnode == args.Target)
                                {
                                    args.Target.Classes.Remove(endnodeclass);
                                }
                                /*else if(currentEndnode != null)
                                {
                                    currentEndnode.Classes.Remove(endnodeclass);
                                    args.Target.Classes.Add(endnodeclass);
                                }*/
                            }
                        };
                        basicGraph.SvgClick += (sender, args) =>
                        {
                            BasicGraph graph = ((BasicGraph)sender);
                            if (graph.GraphModel.ActiveNode != null)
                            {
                                graph.GraphModel.ActiveNode.IsActive = false;
                            }
                        };
                        basicGraph.NodeClick += (sender, args) =>
                        {
                            BasicGraph graph = ((BasicGraph)sender);
                            Data.Additional.Models.Node node = args.Target;
                            if (graph.GraphModel.ActiveNode != null)
                            {
                                resetDijkstra();
                                if (graph.GraphModel.ActiveNode.Id == node.Id)
                                {
                                    node.IsActive = false;
                                }
                                else
                                {
                                    graph.GraphModel.ActiveNode.IsActive = false;
                                    node.IsActive = true;
                                }
                            }
                            else
                            {
                                node.IsActive = true;
                            }
                            StateHasChanged();
                        };


                    });

                builder.CloseComponent();
            }
        });
    }

}