@page "/graphview"
@using System.IO
@using Microsoft.Msagl.Core.Layout;
@using Microsoft.Msagl.Miscellaneous;
@using Microsoft.Msagl.Routing;
@using Microsoft.Msagl.Core.Geometry.Curves;
@inject IGraphService GraphService
<div class="flex-wrapper">
    <div class="flex-wrapper-title">
        <h3>Edit or Create new Graph</h3>
        <EditForm class="form-inline" Model="@model" OnSubmit="@HandleSelectChange">
            <div class="form-group">
                <InputSelect name="graphselect" id="graphselect" class="form-control" @bind-Value="@model.CurrentGraph">
                    @foreach (var name in graphFilenames)
                    {
                        <option value="@name">@name</option>
                    }
                </InputSelect>
                <button type="submit">Laden</button>
            </div>
            @if (basicGraph != null)
            {
                <div class="form-group">
                    <button type="button" @onclick="@LayoutGraph">Run Layouting</button>
                </div>
                <div class="form-group">
                    <button type="button" @onclick="@Crop">Crop View to Graph</button>
                </div>
            }


        </EditForm>

    </div>
    <div class="left-container">
        <hr />
        @RenderGraph()
    </div>
</div>

@code {
    public class SelectGraphModel
    {
        public string CurrentGraph { get; set; }
        public VisualGraph.Data.Additional.Models.BasicGraphModel Graph { get; set; }
    }
    BasicGraph basicGraph;
    RenderFragment RenderGraph()
    {
        return new RenderFragment(builder =>
        {
            if (model.Graph != null)
            {
                builder.OpenComponent<BasicGraph>(0);
                builder.AddAttribute(1, "GraphModel", model.Graph);
                builder.AddComponentReferenceCapture(2,
                    inst =>
                    {
                        var basicGraph1 = (BasicGraph)inst;
                        basicGraph = basicGraph1;
                        basicGraph.SvgClick += async (sender, args) =>
                        {
                            BasicGraph graph = ((BasicGraph)sender);
                            if (graph.GraphModel.ActiveNode != null)
                            {
                                graph.GraphModel.ActiveNode.IsActive = false;
                            }
                        };
                        basicGraph.NodeClick += (sender, args) =>
                        {
                            BasicGraph graph = ((BasicGraph)sender);
                            Data.Additional.Models.Node node = args.Target;
                            if (graph.GraphModel.ActiveNode != null)
                            {
                                if (graph.GraphModel.ActiveNode.Id == node.Id)
                                {
                                    node.IsActive = false;
                                }
                                else
                                {
                                    graph.GraphModel.ActiveNode.IsActive= false;
                                    node.IsActive = true;
                                }
                            }
                            else
                            {
                                node.IsActive = true;
                            }
                            StateHasChanged();
                        };
                    });

                builder.CloseComponent();
            }
        });
    }
    SelectGraphModel model = new SelectGraphModel();
    public string[] graphFilenames { get; set; }
    private string[] graphPathes { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var graphFilePathes = graphPathes = await GraphService.GetGraphFilenames();
        graphFilenames = graphFilePathes.Select(x => new FileInfo(x).Name).OrderBy(x => Path.GetFileNameWithoutExtension(x)).ToArray();
        model.CurrentGraph = graphFilenames[0];
        base.OnInitialized();
    }

    public async void HandleSelectChange()
    {
        var graphPath = graphPathes.First(x => x.Contains(model.CurrentGraph));
        var graphmodel = await GraphService.GetGraph(graphPath);
        model.Graph = graphmodel;
        StateHasChanged();
        
    }
    private async Task LayoutGraph()
    {
        var resultGraph = GraphService.LayoutGraph(model.Graph);
    }
    private async Task Crop()
    {
        basicGraph.SVGViewRect.CropRect(basicGraph.GraphModel.ConvexHull[0].X, basicGraph.GraphModel.ConvexHull[0].Y, basicGraph.GraphModel.ConvexHull[1].X, basicGraph.GraphModel.ConvexHull[1].Y);
    }

}